/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.container {
  background-color;
  /*height: 500px;
  width: 700px;*/
  display:inline-block;
}

body{
  font-size: 1.25em;
  font-family: Helvetica, Georgia, Times;
}

svg {
  background-color: #FFF;
  margin: 0 auto;
}

.player {
  cursor: pointer;
  fill:#000;
  fill-opacity:0;
}

.scoreboard{
  width: 200px;
}
.title{
  width: 400px;
}
